.user-info {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding-bottom: 10px;
}

.user-details-container {
  display: flex;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: var(--font-regular);
  font-weight: 600;
  line-height: 20px;
  color: var(--main-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  width: 100%;
  display: block;
}

.user-role {
  margin: 0;
  font-size: var(--font-regular);
  font-weight: 400;
  line-height: 20px;
  color: var(--main-text-color);
}
