<p>Hello,</p>
<p>You’ve been invited to join Guidefox - a platform designed to help you build better user experiences.</p>
<p>To get started, simply click the link below to create your account:</p>
<p><a href="{{inviteLink}}">Join Guidefox</a></p>
<p>Once you’ve created your account, you’ll be able to log in and start exploring all the features we’ve prepared for you.</p>
<p>We’re excited to have you with us and can’t wait for you to experience Guidefox!</p>
<p>--<br>The Guidefox Team</p>
