<p>Hello {{name}},</p>
<p>We received a request to reset your password for your Guidefox account. If you didn’t request a password reset, you can safely ignore this email.</p>
<p>To reset your password, click the link below:</p>
<a href="{{resetLink}}">Reset My Password</a>
<p>Thank you for using Guidefox!</p>
<p>--<br>The Guidefox Team</p>

