.paginationContainer {
  height: 4rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

.paginationContainer button {
  color: var(--main-purple);
  border-radius: 4px;
}

.paginationContainer li div {
  color: var(--main-purple);
  cursor: default;
}
