@use '../../../../styles/globals.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  h2 {
    @include text-style(regular);
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  h3 {
    @include text-style(regular);
  }

  .stepsList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 280px;
  }

  .stepsList.scrollable {
    padding-right: 10px;
    margin-right: -25px;
  }
}
