.tableHeader {
    background-color: rgba(250, 250, 250, 1);
}

.heading {
    color: var(--second-text-color) !important ;
    font-size: 12px ;
}

.data {
    font-size: var(--font-regular) ;
    color: var(--second-text-color) !important;
}