.container {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  overflow-x: hidden;
}

.content-container {
  display: flex;
  flex-grow: 1;
  background-color: var(--background-color);
}