.stepContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    background-color: var(--header-background);
    border: 1.23px solid var(--light-border-color);
    border-radius: 8px;
    width: 241px;
    > div {
        width: 100%;
    }
}