@use '../../../../styles/globals.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  h2 {
    @include text-style(regular);
    margin-top: 1.4rem;
    margin-bottom: 0.8rem;
  }
  .color {
    display: flex;
    align-items: center;
    width: 241px;
    > div {
      width: 100%;
    }
  }
}

.popup-appearance-error {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 1.45;
  margin-top: 0px;
  color: var(--error-color);
}
