.block {
  display: flex;
  gap: 15px;
  align-items: center;
}

.informativeBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-bottom: 0;
  margin-top: 15px;
}
h2,
p {
  font-size: var(--font-regular);
}

pre {
  font-size: var(--font-informative);
  background-color: white;
  border: 1px solid var(--light-border-color);
  box-shadow: 0px 1px 2px 0px #1018280d;
  padding: 12px;
  margin: 0;
  border-radius: 4px;
}

.buttons {
  cursor: pointer;
  color: var(--main-text-color);
}

.container {
  margin-right: calc((100% - 25px) / 10);
}
